<!DOCTYPE html>
<html lang="en">

  <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Template Viewer</title>

        <!-- CSS Libraries/Plug-Ins -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/clockpicker.css" rel="stylesheet">
        <link href="../css/standalone.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <!-- General CSS Style -->
        <style>
            input { 
                text-align: center; 
                color: white;
                font-size: 50px;
            }
        </style>

        <!-- Javascript Libraries/Plug-ins -->
        <script src="../js/jquery.js"></script>
        <script src="../js/jquery-ui.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/clockpicker.js"></script>
        <script src="../js/script.js"></script>
        <!-- Global Functions -->
        <script type="text/javascript">

            var templateList, templateTemplate; 
                        
            window.onload = function() {
                // initializes variables containing the template list and the template for templates
                templateList = document.getElementById("template-list");
                templateTemplate = document.getElementById("template-template").cloneNode(true);
                templateTemplate.style.display = "block";
                templateTemplate.id = "templateID-";
                // loads any existing templates
                if (localStorage.getItem("template-names")) {
                    var names = JSON.parse(localStorage.getItem("template-names"));
                    for (var i = 0; i < names.length; i++) {
                        // uses data to recreate activity list
                        var newTemplate = templateTemplate.cloneNode(true);
                        getInput(newTemplate, "template-name").value = names[i];
                        newTemplate.id = "templateID-" + names[i];
                        createTemplate(newTemplate);
                    } 
                } 
                if (!templateList.firstChild) {
                    createTemplate(templateTemplate);
                }
            };
            
            // function to save template list to local storage
            function saveList() {
                var names = getIdArray(templateList);
                localStorage.setItem("template-names", JSON.stringify(names));
            }
            function getIdArray(list) {
                var a = [];
                list = list.getElementsByTagName("LI");
                for (var i = 0; i < list.length; i++) {
                    a.push(list[i].id.substring(11));
                }
                return a;
            }

        </script>

    </head>

    <body style="background-color: black">

       <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" data-spy="affix" style="font-size: 30px;">
            <a class="navbar-brand" href="../main.html" style="color: deepskyblue; font-size: 35px;">Schedule Maker</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../main.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="templateViewer.html">Templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../toDoList.html">To-Do List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../planner.html">Planner</a>
                </li>
            </ul>
            <button class="btn btn-success order-3 btn-lg" type="button" onclick="createTemplate(templateTemplate)">New Template</button>
        </nav>
        <script type="text/javascript">
            // function to add a new template to the list
            function createTemplate(template) {
                var newTemplate = template.cloneNode(true);
                activateCallBackFunctions(newTemplate);

                templateList.appendChild(newTemplate);
                saveList();
            }
            // function to activate call back functions for each new template
            function activateCallBackFunctions(template) {
                var nameInput = getInput(template, "template-name");
                nameInput.addEventListener("keyup", function(event) {
                    if (event.key === "Enter") {
                        $(nameInput).trigger("blur");
                    }
                });
                nameInput.onblur = function() { 
                    changeTemplateName(nameInput, template); 
                    saveList();
                };
            }
        </script>

        <!-- Template Template -->
        <li class="list-group-item text-light" style="display: none;" id="template-template"> 
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="close" aria-label="Close" style="position: absolute;top: 50%;left: 10%;transform: translate(-50%, -50%);" onclick="confirm(this.parentNode.parentNode.parentNode.id)">
                        <span aria-hidden="true" style="color: red;">&times;</span>
                    </button>  
                </div>
                <div class="col-sm" style="margin-left: -38%;">
                    <input type="text" class="form-control-plaintext template-name" placeholder="Name" style="text-align: left">
                </div>
                <div class="col-sm">
                    <button class="btn btn-info order-3 btn-lg" type="button" onclick="loadTemplateEditor(this.parentNode.parentNode.parentNode)" style="position: absolute; top: 50%; right: 0%;transform: translate(-50%, -50%);">
                        Edit
                    </button>
                </div>
            </div>
        </li>
        <!-- Confirmation Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The template will be permanently deleted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="remove()">Delete</button>
                </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // function to load the editor for a template
            function loadTemplateEditor(template) {
                $(".alert").alert("close");
                var name = template.id.substring(11);
                if (name) {
                    localStorage.setItem("edit-template", name);
                    window.open("templateEditor.html", "_self");
                } else {
                        // creates alert element if unable to load
                        var alert = document.createElement("DIV");
                        alert.style = "text-align: center; margin-bottom: 0px";
                        alert.classList.add("alert", "alert-danger", "alert-dismissible", "show")
                        alert.setAttribute("role", "alert");
                        alert.innerHTML = "<strong>Unable to edit template.</strong> Please name the template" +
                            "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">" +
                                "<span aria-hidden=\"true\" style=\"color:red\">&times;</span>" +
                            "</button>";
                        $(template).after(alert);
                }
            }
            
            // function to confirm deleting a template with modal
            function confirm(id) {
                var modal = document.getElementsByClassName("modal")[0];
                modal.id = "modal-"+id;
                $(modal).modal("show");
            }
            // function to remove template from template list
            function remove() {
                var modal = document.getElementsByClassName("modal")[0];
                $(modal).modal("hide");
                var id = modal.id.substring(6);
                var template = document.getElementById(id);
                var index = getIndex(template, templateList.getElementsByTagName("LI"));
                $(template).remove();
                removeTemplateData(template.id);
                if (templateList.getElementsByTagName("LI")[0] == null) {
                    createTemplate(templateTemplate);
                }
                saveList();
            }
        </script>

        <!-- Template List -->
        <div class="after-header">
            <ul class="list-group list-group-flush" id="template-list" style="font-size: 20px;"></ul>
        </div>
        <script type="text/javascript">
            $( function() {
                $( "#template-list" ).sortable({
                    stop: function(event, ui) {
                        saveList();
                    }
                });
                $( "#template-list" ).disableSelection();
            } );
        </script>

    </body>

</html>